<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.MidProject.lecture.service.LectureMapper">
<!-- resultMap 설정 -->
<resultMap type="co.yedam.MidProject.lecture.service.LectureVO" id="lectureMap">
	<id property="lectureId" column="L_ID"/>
	<result property="lectureName" column="L_NAME"/>
	<result property="lectureCredit" column="L_CREDIT"/>
	<result property="lectureDay" column="L_DAY"/>
	<result property="lectureStart" column="L_START"/>
	<result property="lectureEnd" column="L_END"/>
	<result property="lectureRoom" column="L_ROOM"/>
	<result property="professorId" column="P_ID"/>
	<result property="lectureCapacity" column="L_CAPACITY"/>
</resultMap>

<!-- 강의전체리스트 -->
<select id="selectLectureList" resultMap="lectureMap">
	SELECT * FROM LECTURE ORDER BY L_ID
</select>

<!-- 강의 단건 조회 -->
<select id="selectLecture" parameterType="co.yedam.MidProject.lecture.service.LectureVO" resultMap="lectureMap">
	SELECT * FROM LECTURE WHERE L_ID = #{lectureId}
</select>

<!-- 강의 등록 -->
<insert id="insertLecture" parameterType="co.yedam.MidProject.lecture.service.LectureVO">
<selectKey keyProperty="lectureId" resultType="int" order="BEFORE">
SELECT CASE WHEN MAX(L_ID)IS NULL THEN 1 ELSE MAX(L_ID)+1 END AS ID FROM LECTURE
</selectKey>
INSERT INTO LECTURE VALUES(#{lectureId},#{lectureName},#{lectureCredit},#{lectureDay},#{lectureStart},#{lectureEnd},#{lectureRoom},#{professorId},#{lectureCapacity})
</insert>

<!-- 강의 수정 -->
<update id="updateLecture" parameterType="co.yedam.MidProject.lecture.service.LectureVO">
UPDATE LECTURE 
SET L_ROOM = #{lectureRoom}
WHERE L_ID = #{lectureId}
</update>

<!-- 강의 삭제 -->
<delete id="deleteLecture" parameterType="co.yedam.MidProject.lecture.service.LectureVO">
	DELETE FROM LECTURE WHERE L_ID = #{lectureId}
</delete>

<!-- 강의 검색 -->
<select id="selectLectureSearchList" resultMap="lectureMap">
SELECT * FROM LECTURE
WHERE
	<if test ='key == "전체"'>
	1 = 1
	</if>
	<if test ='key == "강의번호"'>
	L_ID LIKE '%'||#{val}||'%'
	</if>
	<if test ='key == "교수번호"'>
	P_ID LIKE '%'||#{val}||'%'
	</if>
	<if test ='key == "강의명"'>
	L_NAME LIKE '%'||#{val}||'%'
	</if>
	
ORDER BY L_ID 
</select>

</mapper>
